<header>
    <!-- Background image -->
    <div id="intro" class="bg-image">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-12 col-sm-8 col-lg-5">
                    <img src="/assets/img/hero/nic-hero.png" class="d-block mx-lg-auto img-fluid" alt="Nic Aguirre" loading="lazy">
                </div>
                <div class="col-lg-7">
                    <h1 class="display-2 fw-bold text-body-emphasis lh-1 mb-3">Nic Aguirre, MFA</h1>
                    <p class="display-6">Digital Media Instructor</p>
                    <p class="lead">Leading students into the future of Interactive Media</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="assets/cv.pdf" target="_blank" class="border btn btn-light btn-lg px-4 me-md-2">View CV <i class="fas fa-arrow-up-right-from-square"></i></a>
                        <a href="#projects" target="" class="border btn btn-light btn-lg px-4 me-md-2">View Projects <i class="fas fa-arrow-up-right-from-square"></i></a>
                        <a href="#student-work" target="" class="border btn btn-light btn-lg px-4 me-md-2">View Student Work <i class="fas fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</header>