<div class="container">
    <h1 class="display-1 main-heading mb-4" id="projects">Projects</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">

        {% for project in site.nic reversed %}
        <div class="col">
            <div class="border card h-100">
                <img src="{{ project.thumbnail }}" class="card-img-top"
                     alt="{{ project.alt_text }}" />
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description }}</p>
                    <div class="d-grid gap-2">
                        <a href="{{ project.url }}" target="_blank" class="border btn btn-light btn-lg px-4 me-md-2">View Project <i class="fas fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>