<!--MY PROJECTS-->
<div class="container">
    <h1 class="display-3 text-center hr-lines" id="projects">Projects</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <!-- CORAL PROJECT-->
        <div class="col">
            <div class="border card h-100">
                <img src="assets/img/card-previews/preview-coral.png" class="card-img-top"
                     alt="UM Coral Restoration Project" />
                <div class="card-body">
                    <h5 class="card-title">Coral Restoration Efforts</h5>
                    <p class="card-text">Collaborative infographic &amp; 3D-Modeling multimedia story on coral restoration</p>
                    <div class="d-grid gap-2">
                        <a href="http://nicnosis.github.io/coral/" target="_blank" class="border btn btn-light btn-lg px-4 me-md-2">View Project <i class="fas fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- MENTAL HEALTH VIZ-->
        <div class="col">
            <div class="border card h-100">
                <img src="assets/img/card-previews/preview-mental.png" class="card-img-top"
                     alt="Mental Health Visualization" />
                <div class="card-body">
                    <h5 class="card-title">Mental Illness Visualization</h5>
                    <p class="card-text">Mentally ill people are more likely to go to prison than a psych hospital. This data visualization project explains why.</p>
                    <div class="d-grid gap-2">
                        <a href="assets/img/mental/mental-viz.jpg" target="_blank" class="border btn btn-light btn-lg px-4 me-md-2">View Project <i class="fas fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- CLIMATE CHANGE-->
        <div class="col">
            <div class="border card h-100">
                <img src="assets/img/card-previews/preview-climate.png" class="card-img-top"
                     alt="Climate Change Project" />
                <div class="card-body">
                    <h5 class="card-title">Tides of Fate</h5>
                    <p class="card-text">This interactive, infographic-based story investigates consequences of climate change.</p>
                    <div class="d-grid gap-2">
                        <a href="https://nicnosis.github.io/climate/" target="_blank" class="border btn btn-light btn-lg px-4 me-md-2">View Project <i class="fas fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- EDUVIZ -->
        <div class="col">
            <div class="border card h-100">
                <img src="assets/img/card-previews/preview-edu-viz.png" class="card-img-top"
                     alt="College Scorecard Visualization" />
                <div class="card-body">
                    <h5 class="card-title">College Scorecard Visualization</h5>
                    <p class="card-text">This data journalism piece examines thousands of universities across dimensions such as diversity and differences between public and private institutions.</p>
                    <div class="d-grid gap-2">
                        <a href="https://nicnosis.github.io/edu-viz/" target="_blank" class="border btn btn-light btn-lg px-4 me-md-2">View Project <i class="fas fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- p5.js ISOMETRIC-->
        <div class="col">
            <div class="border card h-100">
                <img src="assets/img/card-previews/preview-iso.gif" class="card-img-top"
                     alt="p5.js Isometric Project" />
                <div class="card-body">
                    <h5 class="card-title">Isometric Structures [p5.js]</h5>
                    <p class="card-text">Procedural abstract artwork using <a href="https://p5js.org/" target="_blank">p5.js</a></p>
                    <div class="d-grid gap-2">
                        <a href="https://codepen.io/novonagu/pen/ryNrMw?editors=0010" target="_blank" class="border btn btn-light btn-lg px-4 me-md-2">View Project <i class="fas fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END MY PROJECTS-->