.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Oswald, sans-serif;
  color: #ea5b19;
  font-size: 38px;
  line-height: 44px;
  font-style: italic;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Oswald, sans-serif;
  color: #ea5b19;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

p {
  margin-bottom: 10px;
  font-family: 'Droid Sans', sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  font-style: italic;
  text-align: center;
}

a {
  text-decoration: underline;
}

.hero {
  display: block;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 125px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hero-image {
  padding-left: 25px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0.5 auto;
  -ms-flex: 0 0.5 auto;
  flex: 0 0.5 auto;
}

.body {
  background-color: #141414;
  font-family: 'Droid Sans', sans-serif;
  color: #fff;
  cursor: default;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 20px;
  background-color: transparent;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 1fr max-content max-content max-content;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-link {
  display: block;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.nav-logo {
  width: auto;
  height: 100%;
  background-color: transparent;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link {
  display: block;
  margin-right: 0px;
  margin-left: -775px;
  padding: 10px 0px;
  color: #444;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.hero-heading {
  margin-right: 0px;
  margin-bottom: 0px;
  font-size: 50px;
  font-style: italic;
  text-align: center;
}

.button {
  margin-right: -60px;
  background-color: #ea5b19;
  text-align: center;
}

.button:hover {
  background-color: #6b6b6b;
}

.button:active {
  background-color: #ea5b19;
}

.button.purchase-button {
  margin-left: 106px;
  background-color: #6b6b6b;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.button.purchase-button:hover {
  background-color: #ea5b19;
  color: #fff;
}

.button.purchase-button:active {
  background-color: #2f2f2f;
}

.paragraph {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.paragraph.hero-subheading {
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}

.paragraph-2 {
  text-align: center;
}

.sticky-nav-2 {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 20px;
  background-color: #f4f4f4;
}

.nav-logo-2 {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link-2 {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px;
  color: #444;
  text-decoration: none;
}

.nav-link-2:hover {
  color: #fff;
  text-decoration: underline;
}

.button-2 {
  background-color: #ea5b19;
}

.product-section {
  margin-top: 31px;
  margin-bottom: 60px;
}

.grid {
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.product-image {
  position: static;
  padding-bottom: 15px;
  padding-left: 0px;
}

.product-image.cold-truth-image {
  margin-left: 50px;
  padding-left: 0px;
}

.price {
  color: #6b6b6b;
}

.image {
  background-color: #ea5b19;
  color: #ea5b19;
}

.hero-text-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-cta-button {
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: solid;
  border-width: 3px;
  border-color: #ea5b19;
  background-color: transparent;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #ea5b19;
  font-weight: 700;
}

.hero-cta-button:hover {
  background-color: #ea5b19;
  color: #141414;
}

@media screen and (max-width: 991px) {
  .flex-container {
    margin-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    padding: 40px 20px;
  }

  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .hero-image-mask {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .sticky-nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
  }

  .sticky-nav-2 {
    position: relative;
  }
}

@media screen and (max-width: 479px) {
  .sticky-nav {
    padding: 0px;
  }

  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }

  .sticky-nav-2 {
    padding: 0px;
  }

  .nav-link-2 {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }

  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

#w-node-_9927c5ef-44c4-f5f4-4c58-1d652e792a52-b54df04f {
  -ms-grid-column-align: start;
  justify-self: start;
}

@media screen and (max-width: 479px) {
  #w-node-_9927c5ef-44c4-f5f4-4c58-1d652e792a52-b54df04f {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}