//VARIABLES
$lightGray: #d5d5d5;
//END VARIABLES


// Horizontal Lines Before/After Text: https://stackoverflow.com/questions/38212963/how-to-display-a-horizontal-line-before-and-after-a-heading-in-css
.hr-lines::before,
.hr-lines::after {
    display: inline-block;
    content: "";
    border-top: .3rem solid $lightGray;
    width: 8rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
}

//NAVBAR
nav {
    z-index: 999;
}
//END NAVBAR

//HERO
#intro {
    background-image: url("/assets/img/hero/geo-hero.png");
    background-position: bottom;
    min-height: 65vh;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
    #intro {
        margin-top: -58.59px;
    }
}
//END HERO

//HEADINGS
.main-heading {
    border-bottom: 0.3rem solid $lightGray;
}
.sub-heading {
    margin-top: calc((1.625rem + 4.5vw)/2);
}
//END HEADINGS

section {
    margin-bottom: calc(1.625rem + 4.5vw);
}

.vertical-spacer {
    margin-bottom: calc((1.625rem + 4.5vw)/2);
}
