//VARIABLES
$lightGray: #d5d5d5;
//END VARIABLES


// Horizontal Lines Before/After Text: https://stackoverflow.com/questions/38212963/how-to-display-a-horizontal-line-before-and-after-a-heading-in-css
.hr-lines::before,
.hr-lines::after {
    display: inline-block;
    content: "";
    border-top: .3rem solid $lightGray;
    width: 8rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
}

//HEADINGS
.main-heading {
    border-bottom: 0.3rem solid $lightGray;
}

.sub-heading {

}

//END HEADINGS
